
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.custom_color {
    color: red;
}
.one{
    color : teal;
}
.two{
    color : red;
}
.first_div{
    width: 100%;
    height: 100%;
    background-color: tomato;
}
.second_div{
    width: 50%;
    height: 600px;
    background-color: teal;
}